.dragon{
    border: solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align:center;
    align-items: center;
}

.dragon img{
    border: 10px solid;
}

a{
    padding-block: 10px;
    border:5px solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

head{
    border: red solid;
}
